.wrapper {
    width: 100%;
    max-height: 700px;
    margin-top: 100px;
    left: 10%;
    position: relative;
}

.wrapper img {
    object-fit: contain;
    z-index: 9;
}

.product_bg {
    left: 5%;
    height: 55%;
    min-height: 380px;
    position: absolute;
    top: 40%;
    width: 100%;
    min-width: 2000px;
    transform: translateY(-50%);
    background: linear-gradient(258.64deg, rgba(0, 228, 175, 0.6) 37.72%, rgba(0, 228, 175, 0.2) 110.03%);
    border-radius: 24px;
}



@media (min-width:1024px) {
    .wrapper img:first-child {
        position: relative;
        top: -25px;
        left: -10%;
        z-index: 99;
    }
    
    .art {
        max-height: 470px;
        position: relative;
        right: 20%;
        bottom: 105px;
        z-index: 0;
    }
    
    .product_bg {
        left: 5%;
        min-height: 350px;

    }
}


@media (min-width:1028px) {
    .product_bg {
        left: 5%;
        min-height: 390px;
    }

    .art {
        bottom: 86px;
    }
    
}

@media (min-width:1536px){
    .wrapper img:first-child {
        top: -20px;
        left: -15%;
    }
    
    .art {
        right: 30%;
    }
}

@media (max-width: 768px){
    .wrapper {
       margin-bottom: -50px;
    }
    
    .wrapper img:first-child {
        max-height: 700px ;
        position: relative;
        left: 0;
        top: -15px;
        transform: scale(1.2);
    }

    .art {
        display: none;
    }

    .product_bg {
        min-height: 450px;
        left: 20%;
    }
    
}

@media (max-width: 640px){
    .wrapper img:first-child {
        transform: scale(1.2);
        left: -20px;
        top: -12px;
    }

    .product_bg {
        min-height:300px;
        left: 20%;
    }
}