@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gordita";
  font-weight: 900;
  src: url("/fonts/gordita/GorditaBlack.otf") format("otf"),
    url("/fonts/gordita/GorditaBlackItalic.otf") format("otf");
}

@font-face {
  font-family: "Gordita";
  font-weight: 700;
  src: url("/fonts/gordita/GorditaBold.otf"),
    url("/fonts/gordita/GorditaBoldtalic.otf");
}

@font-face {
  font-family: "Gordita";
  font-weight: 600;
  src: url("/fonts/gordita/GorditaMedium.otf"),
    url("/fonts/gordita/GorditaMediumItalic.otf");
}

@font-face {
  font-family: "Gordita";
  font-weight: 500;
  src: url("/fonts/gordita/GorditaRegular.otf"),
    url("/fonts/gordita/GorditaRegularItalic.otf");
}

body {
  font-family: "Quicksand", Gordita;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.slick-dots {
  bottom: -40px !important;
}

.slick-arrow {
  display: none !important;
}

.slick-dots li button::before {
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  color: rgba(35, 224, 162, 1) !important;
}

.slick-dots li.slick-active button::before {
  color: #009f6b !important;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(1.7) !important;
}

.bit-shadow:hover {
  box-shadow: 60px 64px 74px rgba(151, 142, 142, 0.1);
}

.kg-image {
  width: 35rem;
  height: auto;
  object-fit: cover;
  text-align: left !important;
  margin-bottom: 2rem !important;
}

.modalContainer img {
  width: 100%;
  height: auto;
}

.kg-bookmark-icon {
  width: 30%;
  text-align: left !important;
}

.kg-bookmark-thumbnail img {
  width: 70%;
  text-align: left !important;
}

code {
  margin-bottom: 15px;
  padding: 12px !important;
  box-sizing: border-box;
  background-color: #f2f2f2;
  display: inline-block;
  white-space: pre-wrap;
  width: fit-content;
  word-break: break-all;
  word-wrap: break-word;
  color: black;
}

table {
  width: auto !important;
  margin: 10px 0px;
}

.featuredImage {
  width: 100%;
  height: 300px;
}

.featuredImage1 {
  width: 50%;
  height: 300px;
}

.featuredImage2 {
  width: 50%;
  height: fit-content;
}

.featuredImage1 img {
  width: 100%;
  height: 100%;
}

.postParas h1,
.postParas h2 {
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 700;
  font-size: 22px;
}

.postParas li {
  margin-bottom: 15px;
  font-weight: 500;
  list-style: disc;
  margin-left: 18px;
}
.postParas p {
  margin-bottom: 15px;
  font-weight: 500;
}

.featuredPost {
  width: 100%;
  height: 400px;
}

.modalImage {
  width: 100%;
  height: 30rem;
  object-fit: fill;
  margin: auto;
}

.modalContainer {
  z-index: 100000;
}
/* .container {
  padding-left: 50px;
  padding-right: 30px;
} */

@media screen and (max-width: 992px) {
  .kg-image {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .featuredImage1,
  .featuredImage2 {
    width: 100%;
  }
}
@media (min-width: 2500px) {
  .blogLayout {
    width: 1400px !important;
    margin: auto !important;
  }
}
