.landing {
    min-height: 700px;
    overflow: hidden;
}

.landing_cover {
    flex: 1.4;
}

.artboard {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/artboard.png');
}

.phone {
    max-height: 600px;
    position: relative;
    left: 52%;
    margin-top: -450px;
    transform: translateX(-70%);
}

.reviews {
    min-height: 800px;
}

@media (max-width: 1280px) {
    .phone {
        margin-left: 100px;
    }
}

@media (min-width: 1024px) {
    .artboard {
        height:450px
    }
}

@media (max-width: 768px) {
    .slide_image {
        height: 350px !important;
    }
}