.landing {
    height: 600px;
    overflow: hidden;
}

.landing_cover {
    flex: 1.4;
}

.landing_vector {
    position: absolute;
}

.artboard {
    height: 450px;
    background-image: url('/images/artboard.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2000px;
}

.phone {
    max-height: 600px;
    margin-left: 170px;
}

.reviews {
    min-height: 800px;
}