.landing {
    height: 700px;
    overflow: hidden;
}

.landing_cover {
    flex: 1.4;
}

.artboard {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/artboard.png');
}

.asset {
    height: 500px;
    object-fit: cover;
}

.phone {
    max-height: 600px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-70%);
    margin-left: 170px;
}

.reviews {
    min-height: 800px;
}

@media (max-width: 1280px) {
    .phone {
        margin-left: 100px;
    }
}

@media (min-width: 1024px) {
    .artboard {
        height:450px
    }
}